<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>About</title>
</head>
<body>
    <div class="login-navbar">
        <h1>I've tried...(enter your own story!)</h1>
        <a id="button" href="/">Home</a>
    </div>
    <div class="about-section">
        <h2>About</h2>
        <p>Have you ever had a unique experience trying a product and wondered if others have had a similar experience? Forget trying to search through subreddits, Facebook goups, and blogs to find out! This is your one-stop-shop for all of these stories.</p>
    </div>
</body>
</html>