<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&display=swap" rel="stylesheet">
    <title>{{loggedin_user.first_name}}'s Account</title>
</head>

<body>
    <div class="navbar d-flex flex-row justify-content-evenly border mb-5 ">
        <div class="container w-50">

        </div>
        <div class="navbar">
            <h1>Account</h1>
            <div class="navbar-buttons">
                <a id="button" href="/display_create">Create</a>
                <a id="button" href="/display_explore">Explore</a>
                <a id="button" href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <div class="account-container">
        <form class="account-form-container" action="/update_account" method="post">
            <h2>Update Account</h2>
            <div class="first_name">
                <label class="text-label" for="update_first_name">First Name:</label>
                <input class="text-input" name="update_first_name" type="text" class="form-control"
                    value="{{loggedin_user.first_name}}">
            </div>
            <div class="last_name">
                <label class="text-label" for="update_last_name">Last Name:</label>
                <input class="text-input" name="update_last_name" type="text" class="form-control"
                    value="{{loggedin_user.last_name}}">
            </div>
            <div class="email">
                <label class="text-label" for="update_email">Email:</label>
                <input class="text-input" name="update_email" type="text" class="form-control"
                    value="{{loggedin_user.email}}">
            </div>
            <div class="password">
                <label class="text-label" for="update_password">Password:</label>
                <input class="text-input" type="password" name="update_password">
            </div>
            <div class="confirm-password">
                <label class="text-label-confirm-password" for="update_confirm_password"> Confirm Password:</label>
                <input class="text-input" type="password" name="update_confirm_password">
            </div>
            <button id="update-account-button">Update</button>
            {% with messages = get_flashed_messages(category_filter=['update']) %}
            {% if messages %}
            {% for message in messages %}
            <div class="flash-box">
                <p>{{message}}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=['update_success']) %}
            {% if messages %}
            {% for message in messages %}
            <div class="flash-box-success">
                <p>{{message}}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
        <div class="account-stories-container">
            <h3>Your Stories</h3>
            <table class="table-width">
                <tr>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Place Purchased</th>
                    <th>Action</th>
                </tr>

                {% for row in user_stories.stories %}
                <tr>
                    <td><a href="/show/{{row.id}}">{{row.item_name}}</a></td>
                    <td>{{row.category}}</td>
                    <td>{{row.place_purchased}}</td>
                    <td>
                        <div class="update-delete">
                            <a href="/delete_account_story/{{row.id}}">Delete</a>
                            <a href="/display_update/{{row.id}}">Update</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>



</body>

</html>