<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Create Magazine</title>
</head>

<body>
    <div class="navbar d-flex flex-row justify-content-evenly border mb-5 ">
        <div class="container w-50">
            <h1>Add New Magazine</h1>
        </div>
        <div class="container d-flex w-25">
            <a href="/dashboard">Dashboard</a>
            <form action="/logout">
                <button class="btn btn-primary">Logout</button>
            </form>
            
        </div>
    </div>

    <form class="d-flex flex-row" action="/create_magazine_route" method="post">
        <div class="container w-25">
            <div class="form-group">
                <label for="title">Title:</label>
                <input name="title" type="name" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description:</label>
                <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
                <button class="btn btn-primary w-25 mt-3">Submit</button>

            {% with messages = get_flashed_messages(category_filter=['create']) %}
                {% if messages %}
                    {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                <p>{{message}}</p>
            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=['success2']) %}
                {% if messages %}
                    {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <p>{{message}}</p>
            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        
        
    </form>



</body>

</html>