<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&display=swap" rel="stylesheet">
    <title>Story</title>
</head>

<body>
    <div class="login-navbar">
        <h2>Welcome back, {{loggedin_user.first_name}}</h2>
        <h1>{{story_info.item_name}}</h1>
        <div class="navbar-buttons">
            <a id="button" href="/display_create">Create</a>
            <a id="button" href="/">Home</a>
            <a id="button" href="/display_explore">Explore</a>
            <a id="button" href="/logout">Logout</a>
        </div>
    </div>
    <div class="example">
        <img class="image-view-story" alt="story picture" src="{{story_info.img_url}}">
        <h2>
            {{story_info.place_purchased}}:
            {{story_info.item_name}}
            {% if story_info.creator_id == loggedin_user.id %}
            <a href="/display_update/{{story_info.id}}">Update</a>
            {%endif%}
        </h2>
        <p class="tab example-paragraph">{{story_info.story}}</p>
        <div class="tab text-margin votes">
            Created By:
            <a href="#">{{story_info.user.first_name}} {{story_info.user.last_name}}</a> | {{story_info.created_at}} |
            <a href="/upvote/{{story_info.id}}">
                <img class="up-arrow" src="{{ url_for('static', filename='img/up-arrow.png') }}">
            </a>
            <p> {{votes['SUM(vote)']}} </p>
            <a href="/downvote/{{story_info.id}}">
                <img class="down-arrow" src="{{ url_for('static', filename='img/down-arrow.png') }}">
            </a>
        </div>
        <div class="comments-div">
            <h3>Comments:</h3>
            {% for one_comment in comments %}
            <div class="comments-all-content">
                <div class="comment-votes">
                    <a href="/upvote/{{one_comment.comment_id}}/{{story_info.id}}">
                        <img class="up-arrow" src="{{ url_for('static', filename='img/up-arrow.png') }}">
                    </a>
                    <p> {{one_comment['SUM(vote)']}} </p>
                    <a href="/downvote/{{one_comment.comment_id}}/{{story_info.id}}">
                        <img class="down-arrow" src="{{ url_for('static', filename='img/down-arrow.png') }}">
                    </a>
                </div>
                <div class="comments-content">
                    <h3 class="tab">{{one_comment.first_name}} on {{one_comment.created_at.strftime('%b %d')}} at
                        {{one_comment.created_at.strftime('%I:%M%p')}}:</h3>
                    <p class="double-indent">{{one_comment.content}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {% if session['user_id'] %}
    <form class="comment-form" action="/save_comment/{{story_info.id}}" method="post">
        <h2>Write a Comment</h2>
        <textarea name="comment" cols="50" rows="8"></textarea>
        <button id="comment-submit">Submit</button>
        {%endif%}
        {% with messages = get_flashed_messages(category_filter=['comment']) %}
        {% if messages %}
        {% for message in messages %}
        <div class="flash-box">
            <p>{{message}}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>

</body>

</html>