* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #746c70;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Rubik;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #4e4f50;
}

.account-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.account-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 370px;
    gap: 5px;
    background-color: #e2ded0;
}

.account-form-container input {
    font-size: 18px;
}

.account-form-container h2{
    margin-bottom: 15px;
    font-size: 30px;
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#button {
    border: 3px solid black;
    height: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #647c90;
    line-height: 29px;
    box-shadow: 2px 2px 2px black;
}

#update-account-button {
    border: 3px solid black;
    height: 35px;
    width: 75px;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    background-color: #647c90;
    line-height: 29px;
    box-shadow: 2px 2px 2px black
}

#update-account-button:hover {
    background-color: #7d9cb4;
}

#button:hover {
    background-color: #7d9cb4;
}

.table-width {
    width: 100%;
}

.update-delete {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap: 15px;
}

#redbutton {
    border: 3px solid black;
    height: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: red;
    line-height: 29px;
    box-shadow: 2px 2px 2px black;
}

.navbar-2 {
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-top: 1px solid black;
    background-color: #746c70;
    
}

.navbar-2b {
    height: 75px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border: 1px solid black;
}

.navbar-2b a:link, .navbar-2b a:visited {
    text-decoration: none;
    color: blue;
}

.navbar-2b a:hover {
    color: red;
}

.image-garcinia {
    height: 300px;
    width: 300px;
    float: right;
    padding-right: 20px;
    padding-top: 60px;
    margin-left: 10px;
}

.image-view-story {
    height: 300px;
    width: 25%;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 10px;
}

.example {
    
    background-color: #e2ded0;
    width: 75%;
    margin-top: 15px;
    border: 2px solid black;
    padding: 20px;
}

.comments-div {
    margin-top: 30px;
}

.about-section {
    margin-top: 15px;
    width: 50%;
}

.comments-div h3 {
    margin-bottom: 10px;
}

.update-story-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.your-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.optional-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.comment-form {
    margin-top: 15px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.comment-form h2 {
    margin-bottom: 5px;
}

.example h2 {
    margin-top: 5px;
}

.example-paragraph {
    font-size: 20px;
    line-height: 50px;
    margin-top: 15px;
    text-indent: 40px;
    width: 60%;
    inline-size: 60%;
    overflow-wrap: break-word;
}

.text-margin {
    margin-top: 10px;
    
}

.votes {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.double-indent {
    text-indent: 80px;
}

.example-comments {
    margin-top: 20px;
    margin-bottom: 15px;
}

.example-comment {
    margin-top: 10px;
}

.tab {
    margin-left: 40px;
}

.up-arrow, .down-arrow {
    height: 15px;
    width: 15px;
}

.login-navbar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #4e4f50;
}

#home-button {
    border: 3px solid black;
    margin-right: 100px;
    height: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(14, 14, 211);
    line-height: 29px;
    box-shadow: 2px 2px 2px black;
}

.text-input {
    border: 1px solid black;
    height: 30px;
    width: auto;
    padding-left: 4px;
}

.text-label-confirm-password {
    width: auto;
    font-size: 25px;
}

.password {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.text-label {
    font-size: 25px;
}

.login-h2 {
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
}

.email {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.password {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    width: 100%;
    margin-top: 10px;
}

.confirm-password {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.login-container {
    background-color: #e2ded0;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: #e2ded0;
    margin-top: 20px;
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-submit {
    margin-top: 10px;
    font-size: 18px;
    border: 3px solid black;
    height: 40px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(20, 20, 177);
    line-height: 29px;
    box-shadow: 2px 2px 2px black;
}

#comment-submit {
    margin-top: 10px;
    font-size: 18px;
    border: 3px solid black;
    height: 40px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(20, 20, 177);
    line-height: 29px;
    box-shadow: 2px 2px 2px black;
}

.login-submit:hover {
    background-color: rgb(27, 27, 211);
}

.sign-up {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 295px;
}

.custom-select {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.custom-select label {
    font-size: 25px;
}

.first_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.last_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.lastname {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sign-up a:visited, .sign-up a:link {
    color: blue;
    text-decoration: none;
}

.sign-up a:hover {
    color: red;
}

.flash-box {
    background-color: red;
}

.flash-box-success {
    background-color: green;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 10px;
}

td a {
    color: blue;
}

td a:visited {
    color: blue;
}

td a:hover {
    color: red;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e2ded0;
}

table {
    background-color: #888486;
}

.account-stories-container {
    width: 35%;
}

